@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';
.container {
    background: url('../../assets/images/Banner-Ecommerse.webp') no-repeat
        center/cover;
    min-height: 750px;
    @include flex_box_custom(center, center, 0px);
}
.content {
    @include flex_box_custom(center, center, 20px);
    flex-direction: column;
}
.title {
    font-size: 42px;
    font-weight: 400;
    color: $thr_color;
    margin: 15px 0;
}
.des {
    color: $thr_color;
    font-weight: 300;
    margin-bottom: 25px;
}
